<div id="vk_api_transport"></div>
<div id="enter_screen">
  <div id="trailer" class="is_overlay">
  <%= video_tag (["video.mp4", "video.webm"]), width: '100%', height: 'auto', loop: true, id: 'video', autoplay: true, preload: 'auto' %>
  </div>
    <div class="auth">
        <h1>VKMusicPenetration</h1>
        <p>Слухай музику безкоштовно</p>
        <p>VKMusicPenetration - зручний сервіс для прослуховування вашої улюбленої музики. <br> Для цього вам лише необхідно авторизуватись в ВК.</p>
        <a href='' class='vk-button'>
            <div class="logo"></div>
            <p>Вхід ВКонтакті</p>
        </a>
    </div>
</div>
<div id="music_screen" class="audio_container">
</div>
